<div class="px-3 py-3">

  <!-- ======================================= Spinner General ====================================== -->
  <div id="pantallaCargaGeneral" class="pantalla-carga">
    <div class="contenido-carga card-carga">
      <div class="icono-carga mb-3">
        <i class="fa-solid fa-user-clock fa-sm"></i>
      </div>

      <h5 class="fw-bold mb-2">Cargando asistencias e horarios</h5>

      <div class="spinner-border text-primary spinner-grande my-3" role="status"></div>

      <p class="text-muted mensaje-carga">
        Estamos preparando la información de las asistencias e horarios
      </p>
    </div>
  </div>


  <!-- ======================================= Título ====================================== -->
  <div class="bg-white shadow-sm rounded p-2 mb-3 border-start border-primary"
    style="border-left-width: 3px !important;">
    <div class="px-2">
      <h4 class="fw-bold text-dark mb-0" style="letter-spacing: -0.5px; font-size: 1.2rem;">Mi Asistencias e Horarios
      </h4>
      <p class="text-muted mb-0" style="font-size: 0.85rem; opacity: 0.8;">
        Visualizá tu jornada laboral y realizá el seguimiento de tus asistencias diarias. </p>
    </div>
  </div>



  <!-- ======================================= Contenedor de Botones y Tabla ====================================== -->
  <div>



    <!-- ======================================= Tarjetas de asistencias y horarios ====================================== -->
    <div id="contenedorAsistenciaHorario"></div>

  </div>


</div>


<script src="../js/Vistas/asistenciaHorarios.js"></script>