

<div class="px-3 py-3">

    <!-- ======================================= Título ====================================== -->
    <div class="mb-3">
        <h3 class="titulo-seccion">Control de Asitencia y Asignacion de Horarios</h3>
        <p class="text-muted fs-6 mb-0" id="tituloLicencia">Visualizá tu horario laboral y controlá tus registros de asistencia diarios.</p>
    </div>

    <hr />


    <!-- ======================================= Contenedor de Botones y Tabla ====================================== -->
    <div style="background-color: white; border-radius: 5px; padding: 10px">

      

        <!-- ======================================= Tarjetas de asistencias y horarios ====================================== -->
        <div id="contenedorAsistenciaHorario" class="row g-4"></div>

    </div>


</div>


<script src="../js/Vistas/asistenciaHorarios.js"></script>
