
  <div >
    <!-- Titulo de la página -->
    <h1>Listado y Control de Localidades</h1>

    <hr />

    <!-- Botón para abrir el modal -->
    <button class="btn btn-agregar" onclick="AbrirPanelLocalidad()">➕ Agregar Localidades</button>

    <!-- Fondo oscuro -->
    <div id="fondoOscuro" onclick="cerrarPanelProvincia()"></div>


    <!-- Panel deslizante -->
   
    <div id="panelLocalidad" aria-modal="true" role="dialog" aria-labelledby="panelTitulo" tabindex="-1" class="w-30">
      <div class="panel-header">
        <h2 id="panelTitulo" class="panel-title">Formulario De Localidad</h2>
      </div>
      <div class="panel-body">
        <form id="formLocalidad">
          <input type="hidden" id="IdLocalidad" />

          <div class="form-grid">
            <div class="form-group">
              <input type="text" id="NombreLocalidad" class="form-control" placeholder=" " />
              <label for="NombreLocalidad">Nombre</label>
              <div class="invalid-feedback" id="errorNombreLocalidad"></div>
            </div>

            <div class="form-group">   
                <select name="IdProvincia" id="IdProvincia" class="form-control" required>
                  <option value="" disabled selected hidden>Seleccione una provincia</option>
                  <!-- Aquí se cargarán dinámicamente las provincias -->
                </select>
                <label for="IdProvincia">Provincia</label>
                <div class="invalid-feedback" id="errorIdProvincia"></div>

            </div>

          </div>
        </form>
      </div>
      <div class="panel-footer mt-3">
        <button class="btn btn-cancelar" onclick="CerrarPanelLocalidad()">Cancelar</button>
        <button  type="submit" class="btn btn-guardar" onclick="BuscarLocalidadId()">Guardar</button>
      </div>
    </div>


  

 <div class="table-responsive mt-3" aria-label="Tabla de Provincias">
  <table class="table custom-table align-middle">
    <thead class="table-localidades">
      <tr>
        <th>Localidad</th>
        <th>Provincia</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody id="tablaLocalidadesBody"></tbody> 
  </table>
</div>

</div>

<script src="../js/Vistas/localidad.js"></script>
<script src="../js/Vistas/common/obtenerProvincia.js"></script>
