<div class="px-3 py-3">

    <!-- ======================================= Spinner General ====================================== -->
    <div id="pantallaCargaGeneral" class="pantalla-carga">
        <div class="contenido-carga card-carga">
            <div class="icono-carga mb-3">
                <i class="fa-solid fa-bell fa-sm"></i>
            </div>

            <h5 class="fw-bold mb-2">Cargando notificaciones</h5>

            <div class="spinner-border text-primary spinner-grande my-3" role="status"></div>

            <p class="text-muted mensaje-carga">
                Estamos preparando la información de las notificaciones
                <span class="dots"></span>
            </p>
        </div>
    </div>

    <div class="bg-white shadow-sm rounded p-2 mb-3">
        <h3 class="titulo-seccion mb-1">Notificaciones</h3>
        <p class="text-muted fs-6 mb-0">Consultá todas tus notificaciones, avisos importantes y novedades.</p>
    </div>


    <div>

        <div class="d-flex justify-content-end align-items-center mb-3 flex-wrap gap-2">
            <button id="marcarTodas" class="btn btn-marcarNoti" onclick="MarcarTodasLeidas()">
                <i class="ti ti-checks me-1"></i>
                <span>Marcar todas como leídas</span>
            </button>
        </div>

        <div id="vistaNotificaciones" class="list-group list-group-flush">

        </div>


    </div>
</div>

<script src="../js/Vistas/notificaciones.js"></script>