<div class="px-3 py-3">


    <!-- ======================================= Título ====================================== -->
    <div class="mb-3">
        <h3 class="titulo-seccion">Resultados de la Gestión de Empleados</h3>
        <p class="text-muted mb-3">Visualiza los gráficos y reportes generales del módulo.</p>
    </div>


    <hr />

    <!-- ======================================= Contenedor de Botones y Graficos ====================================== -->
    <div style="background-color: white; border-radius: 5px; padding: 10px">


        <!-- ======================================= Opciones De Otros Resultaos ======================================= -->


        <!-- ======================================= Contendor de Graficos ====================================== -->
        <div style="background-color: white; border-radius: 5px; padding: 20px;">
    <div class="row">

        <div class="col-md-12 mb-4 border p-2 shadow-sm">
            <h5>Evolución de Empleados</h5>
            <canvas id="graficoEvolucionEmpleados" height="90"></canvas>
        </div>

        <div class="col-md-12 mb-4 border p-2 shadow-sm">
            <h5>Asistencia Mensual</h5>
            <canvas id="graficoAsistenciaMensual" height="90"></canvas>
        </div>

        <div class="col-md-12 mb-4 border p-2 shadow-sm">
            <h5>Justificacion por Dias (Semanal)</h5>
            <canvas id="graficoJustificacionesPorDia" height="90"></canvas>
        </div>

        <div class="col-md-12 mb-4 border p-2 shadow-sm">
            <h5>Asistencias y Certificados por Curso</h5>
            <canvas id="graficoCursosCompletados" height="90"></canvas>
        </div>

        <div class="col-md-12 mb-4 border p-2 shadow-sm">
            <h5>Total de Empleados Por Puesto</h5>
            <canvas id="graficoEmpleadosPuesto" height="90"></canvas>
        </div>

    </div>
</div>










    </div>


</div>

<script src="../js/Vistas/resultados/resultadoGestionPersonal.js"></script>