<div class="px-3 py-3">
  <!-- ======================================= Spinner General ====================================== -->
  <div id="pantallaCargaGeneral" class="pantalla-carga">
    <div class="contenido-carga card-carga">
      <div class="icono-carga mb-3">
        <i class="fa-solid fa-tags fa-sm"></i>
      </div>

      <h5 class="fw-bold mb-2">Cargando tipos de licencias</h5>

      <div class="spinner-border text-primary spinner-grande my-3" role="status"></div>

      <p class="text-muted mensaje-carga">
        Estamos preparando la información de los tipos de licencias
        <span class="dots"></span>
      </p>
    </div>
  </div>

  <!-- ======================================= Título ====================================== -->
  <div class="bg-white shadow-sm rounded p-2 mb-3 border-start border-primary"
    style="border-left-width: 3px !important;">
    <div class="px-2">
      <h4 class="fw-bold text-dark mb-0" style="letter-spacing: -0.5px; font-size: 1.2rem;">Tipos de Licencias</h4>
      <p class="text-muted mb-0" style="font-size: 0.85rem; opacity: 0.8;">
        Gestioná los tipos de licencias que se utilizan como base en las licencias del
        personal.
      </p>
    </div>
  </div>


  <!-- ======================================= Contenedor de Botones y Tabla ====================================== -->
  <div>

    <div id="fondoOscuro" onclick="CerrarPanelTipoDeLicencia()"></div>

    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">


      <button class="btn rounded btn-agregar py-1 px-2 border bg-white" onclick="AbrirPanelTipoDeLicencia()">
        <i class="fa-solid fa-square-plus me-1" style="color: #3697E1;"></i>
        <span>Agregar Licencia</span>
      </button>

      <div class="d-flex gap-2 flex-wrap responsive-button">
        <button id="btnMostrarFiltros" class="btn rounded btn-filtro py-1 px-2 border bg-white"
          onclick="toggleFiltros()">
          <i class="fa-solid fa-arrow-down-wide-short me-1" style="color: #F0AD4E;"></i>
          <span class="texto-btn">Filtros</span>
        </button>
      </div>
    </div>


    <!-- ======================================= Contenedor Filtros ====================================== -->
    <div id="contenedorFiltros" class="filtros-panel mb-3 d-none">
      <div class="row g-3 align-items-end">

        <div class="col-12 col-md-3">
          <label for="NombreTipoLicenciaBuscar" class="form-label-fija">Nombre</label>
          <input type="text" class="form-control filtro-select" id="NombreTipoLicenciaBuscar" placeholder="Buscar..." />
        </div>

        <div class="col-12 col-md-2">
          <label for="EstadoIdBuscar" class="form-label-fija">Estado</label>
          <select id="EstadoIdBuscar" class="form-control filtro-select">
            <option value="">[Todos]</option>
            <option value="0">Activos</option>
            <option value="1">Inactivos</option>
          </select>
        </div>
      </div>
    </div>


    <!-- ======================================= Tabla de Datos ====================================== -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <colgroup>
          <col style="width: 5%" />
          <col style="width: 90%" />
          <col style="width: 5%" />
        </colgroup>
        <thead class="table-tipos-licencia">
          <tr>
            <th class="text-center">Activo</th>
            <th class="text-start">Tipo de Licencia</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="tablaTiposLicenciaBody"></tbody>
      </table>
    </div>
  </div>


  <!-- ======================================= Panel Tipo de Licencia ====================================== -->
  <div id="panelTipoDeLicencia" aria-modal="true" role="dialog" aria-labelledby="panelTitulo" tabindex="-1"
    class="w-30">
    <div class="panel-header">
      <h2 id="panelTitulo" class="panel-title">Formulario De Tipo de Licencia</h2>
    </div>
    <div class="panel-body">
      <form id="formTipoDeLicencia">

        <!-- ======================================= Spinner Formualrio ====================================== -->
        <div id="overlayGuardando" class="overlay-guardando d-none">
          <div class="contenido-carga card-carga-formulario shadow-sm p-2">
            <h5 class="fw-bold text-dark mb-1">Guardando...</h5>
            <div class="spinner-border text-primary spinner-grande my-1" role="status">
            </div>
            <p class="text-muted mensaje-carga">
              Estamos procesando la información <br> <span class="dots"></span>
            </p>
          </div>
        </div>

        <input type="hidden" id="IdTipoDeLicencia" />
        <div class="form-grid">
          <div class="form-group position-relative mb-3">
            <input type="text" id="NombreTipoDeLicencia" class="form-control" placeholder=" " />
            <label for="NombreTipoDeLicencia">Nombre</label>
            <div class="invalid-feedback" id="errorNombreTipoDeLicencia"></div>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer">
      <button class="btn btn-cancelar" onclick="CerrarPanelTipoDeLicencia()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-guardar" onclick="BuscarTipoDeLicenciaId()">
        Guardar
      </button>
    </div>
  </div>


</div>

<script src="../js/Vistas/tiposLicencia.js"></script>